<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>상품등록</title>
<script src="/js/index.js" defer></script>
</head>
<body>
<div>
	<form action="/product/add" method="post">
		<ul>
			<li>
				<label for="">상품아이디</label>
				<input type="text" name="id" id="id" />
			</li>
			<li>
				<label for="">상품명</label>
				<input type="text" name="name" id="name" />
			</li>
			<li>
				<label for="">상품수량</label>
				<input type="text" name="stock" id="stock" />
			</li>
			<li>
				<label for="">상품가격</label>
				<input type="text" name="price" id="price" />
			</li>
			<li>
				<button type="submit">등록</button>
				<button type="reset">취소</button>
				<button type="button" id="home">홈으로</button>
			</li>
		</ul>
	</form>
</div>
</body>
</html>