<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>상품목록</title>
</head>
<body>
<h3>상품목록</h3>
<hr />
<div><a href="/">홈으로</a></div>
<table>
	<tr>
		<th>아이디</th><th>상품명</th><th>상품수량</th><th>상품가격</th>
	</tr>
	
	<tr th:each="product : ${pList}">
		<td><a href="/product/productDetail" th:href="|/product/productDetail/${product.id}|" th:text="${product.id}">1</a></td>
		<td th:text="${product.name}">모자</td>
		<td th:text="${product.stock}">30</td>
		<td th:text="${product.price}">25000</td>
	</tr>
	<button type="button" onclick="javascript:location.href='/product/addProductForm'">등록</button>
</table>
</body>
</html>